<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <nav>
        <ul class="nav-item">
            <li><a href="../index.html">Home</a></li>
        </ul>
        <div class="separadores">|</div> 
        <ul class="nav-item">
            <li><a href="trabajos.html">Trabajos</a></li>
        </ul>
        <div class="separadores">|</div>
        <ul class="nav-item">
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>
    <header>
        <h1 style="text-align:center; margin: 3vw; font-style: italic; font-size: 5vw; margin-bottom: 15px; font-weight: 500;">CONTACTO</h1>
    </header>
    <main>
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 60px;">
            <p style="text-align:center; font-size: 1.1rem; margin-bottom: 10px;">Correo institucional PUCV: <a href="mailto:catalina.araneda.v@mail.pucv.cl">catalina.araneda.v@mail.pucv.cl</a></p>
            <p style="text-align:center; font-size: 1.1rem;">Perfil en WikiCasiopea: <a href="https://wiki.ead.pucv.cl/Catalina_Araneda" target="_blank">https://wiki.ead.pucv.cl/Catalina_Araneda</a></p>
        </div>
    </main>
    <div class="footer-portfolio"><hr>
        <h6>Catalina Araneda V | Portafolio Diseño | © 2025</h6>
    </div>
</body>
</html>
