<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recorrido Descendiente</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <nav>
        <ul class="nav-item">
            <li><a href="../index.html">Home</a></li>
        </ul>
        <div class="separadores">|</div> 
        <ul class="nav-item">
            <li><a href="trabajos.html">Trabajos</a></li>
        </ul>
        <div class="separadores">|</div>
        <ul class="nav-item">
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>
    <main>
        <h3 style="margin: 60px 30px 5px 30px; font-size: 25px; font-weight: bolder; font-style: italic; letter-spacing: 0.15em;">TALLER DE ALGORITMOS CINÉTICOS 2025 |<br>RECORRIDO DESCENDIENTE</h3>
        <h4 style="margin-left:30px; font-style:italic; font-weight:300; color:#757575;">Proyecto del primer semestre del 2025</h4>
        <div style="display: flex; align-items: center; margin-left: 30px; margin-right: auto; margin-top: 30px; margin-bottom: 30px; gap: 60px; max-width: 1400px; width: 95%;">
            <div style="flex:2; display: flex; flex-direction: column; max-width: 900px;">
                <p style="text-align: justify; font-weight: 200; color: #222; font-size: 18px; margin:60px 0 0 0;">
El punto de partida de este proyecto nace de una observación detenida del comportamiento de la luz durante la noche en espacios interiores.<br><br>
En estas condiciones, la iluminación artificial proveniente del exterior como faroles, ventanas de edificios o luces urbanas no invade, sino que se insinúa. Se filtra a través de rendijas, cortinas o estructuras, generando trazos suaves y sombras dilatadas que modifican sutilmente la percepción espacial. La luz no se limita a su fuente: se proyecta, rebota, atraviesa. Crea líneas que recorren los muros, fragmentos que se reflejan en superficies, manchas cálidas que hacen que el espacio se vuelva otro. En esta atmósfera, los objetos se desdibujan, los límites se vuelven porosos, y el habitar se torna más contemplativo y sensorial.<br><br>
Desde esta observación surge la propuesta de diseñar un artefacto lumínico que dialogue con este fenómeno. Se trata de una estructura que contiene y direcciona la luz, pero no la domina. A través del uso de un papel celofán amarillo, la emisión lumínica se tiñe, se dispersa y transforma el entorno en una experiencia visual expandida. La forma del dispositivo permite un recorrido de la luz a través del espacio, activando sombras, reflejos y temperaturas que invitan a una nueva manera de mirar y estar.
                </p>
            </div>
            <img src="../img/cards7.jpeg" alt="Proyecto Recorrido Algoritmos Descendiente Cinéticos 2025" style="flex:1; max-width:520px; width:100%; height:auto; margin:0;">
        </div>
        <div class="footer-portfolio"><hr>
            <h6>Catalina Araneda V | Portafolio Diseño | © 2025</h6>
        </div>
    </main>
</body>
</html>