<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siclón del Libro</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <nav>
        <ul class="nav-item">
            <li><a href="../index.html">Home</a></li>
        </ul>
        <div class="separadores">|</div> 
        <ul class="nav-item">
            <li><a href="trabajos.html">Trabajos</a></li>
        </ul>
        <div class="separadores">|</div>
        <ul class="nav-item">
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>
    <main>
        <h3 style="margin: 60px 30px 5px 30px; font-size: 25px; font-weight: bolder; font-style: italic; letter-spacing: 0.15em;">DISEÑO DE SERVICIOS 2025 |<br>SICLÓN DEL LIBRO</h3>
        <h4 style="margin-left:30px; font-style:italic; font-weight:300; color:#757575;">Proyecto del segundo semestre del 2025, ciclo 2</h4>
        <div style="display: flex; align-items: center; margin-left: 30px; margin-right: auto; margin-top: 30px; margin-bottom: 30px; gap: 60px; max-width: 1400px; width: 95%;">
            <div style="flex:2; display: flex; flex-direction: column; max-width: 900px;">
                <p style="text-align: justify; font-weight: 200; color: #222; font-size: 18px; margin:60px 0 0 0;">
En este proyecto de la segunda unidad se nos pide escoger un servicio de barrio y observarlo en detalle a partir de la metodología AT-ONE. El análisis debe realizarse sobre un servicio formal, con presencia física y una clara vinculación con la comunidad, de manera que permita identificar no solo sus aspectos operativos, sino también el rol que desempeña hacia las personas.<br><br>
El objetivo es desarrollar una mirada crítica y propositiva sobre cómo funcionan los servicios y cómo pueden mejorar su aporte a la comunidad, considerando tanto la experiencia del usuario como la eficiencia operativa y el impacto social.
                </p>
            </div>
            <img src="../img/cards8.jpeg" alt="Proyecto Diseño Siclón de Servicios Libro 2025" style="flex:1; max-width:520px; width:100%; height:auto; margin:0;">
        </div>
        <div class="footer-portfolio"><hr>
            <h6>Catalina Araneda V | Portafolio Diseño | © 2025</h6>
        </div>
    </main>
</body>
</html>