<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Trazo que Contiene y Envuelve</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <nav>
        <ul class="nav-item">
            <li><a href="../index.html">Home</a></li>
        </ul>
        <div class="separadores">|</div> 
        <ul class="nav-item">
            <li><a href="trabajos.html">Trabajos</a></li>
        </ul>
        <div class="separadores">|</div>
        <ul class="nav-item">
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>
    <main>
        <h3 style="margin: 60px 30px 5px 30px; font-size: 25px; font-weight: bolder; font-style: italic; letter-spacing: 0.15em;">TALLER DE LA DIVERSIÓN DEL HÁBITO 2024 |<br>EL TRAZO QUE CONTIENE Y ENVUELVE</h3>
        <h4 style="margin-left:30px; font-style:italic; font-weight:300; color:#757575;">Proyecto del segundo semestre del 2024, ciclo 3</h4>
        <div style="display: flex; align-items: center; margin-left: 30px; margin-right: auto; margin-top: 30px; margin-bottom: 30px; gap: 60px; max-width: 1400px; width: 95%;">
            <div style="flex:2; display: flex; flex-direction: column; max-width: 900px;">
                <p style="text-align: justify; font-weight: 200; color: #222; font-size: 18px; margin:60px 0 0 0;">
El proyecto de este ciclo 3 consiste en abstraer una circunferencia de 22 cm de diámetro y 2 cm de ancho utilizando dúplex, cartulina española o un cartón rígido, los cuales deben ser pegados y unidos para formar un estructura firme y resistente. ¿Cómo interferir esa circunferencia? Aquí el objetivo es encontrar una forma de darle un acabado a la estructura.<br><br>
Dentro de la circunferencia se deben integrar cubos comestibles, con dimensiones de 3x3x3: Siendo la distribución de los cubos son 1 salado, 2 dulces ¿Qué se puede sacar y poner? La propuesta es que los cubos sean extraíbles, lo que permita que se puedan poner y sacar según se requiera, creando así una dinámica interactiva con el porta bocado, pero se piensa en como los cubos se van a colocar de forma segura dentro de la circunferencia, como se toma el objeto, asegurando que sea estable y funcional para quien lo use. Generando una interacción de los elementos dentro de la circunferencia.<br><br>
Para esta propuesta, los bocados se disponen verticalmente intercalados sobre un palo de maqueta que funciona como soporte. Lo comestible se envuelve de un color vibrante que actúa como un elemento visual atractivo. El vaso se integra utilizando los mismos palos de maqueta, los cuales refuerzan la circunferencia, manteniendo estabilidad.
                </p>
            </div>
            <img src="../img/cards6.jpeg" alt="Proyecto El trazo que contiene y envuelve" style="flex:1; max-width:520px; width:100%; height:auto; margin:0;">
        </div>
        <div class="footer-portfolio"><hr>
            <h6>Catalina Araneda V | Portafolio Diseño | © 2025</h6>
        </div>
    </main>
</body>
</html>